*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: #bbbbbb;
}

nav li{
    display: inline;
    margin:0 0 0 15px ;
}

nav a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    font-size: 22px;
    
}